<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Reach Digital (http://reachdigital.nl/)
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <ReachDigital_UrlFixes>
            <version>0.1.1</version>
        </ReachDigital_UrlFixes>
    </modules>
    <global>
        <helpers>
            <reachdigital_urlfixes>
                <class>ReachDigital_UrlFixes_Helper</class>
            </reachdigital_urlfixes>
        </helpers>
        <models>
            <reachdigital_urlfixes>
                <class>ReachDigital_UrlFixes_Model</class>
                <resourceModel>reachdigital_urlfixes_resource</resourceModel>
            </reachdigital_urlfixes>
            <reachdigital_urlfixes_resource>
                <class>ReachDigital_UrlFixes_Model_Resource</class>
            </reachdigital_urlfixes_resource>
            <catalog_resource>
                <rewrite>
                    <product>ReachDigital_UrlFixes_Model_Catalog_Resource_product</product>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <reachdigital_urlfixes_setup>
                <setup>
                    <module>ReachDigital_UrlFixes</module>
                </setup>
            </reachdigital_urlfixes_setup>
        </resources>
        <events>
            <catalog_model_product_duplicate>
                <observers>
                    <reachdigital_urlfixes_check_store>
                        <type>singleton</type>
                        <class>ReachDigital_UrlFixes_Model_Observer</class>
                        <method>checkStore</method>
                    </reachdigital_urlfixes_check_store>
                </observers>
            </catalog_model_product_duplicate>
            <catalog_product_save_before>
                <observers>
                    <reachdigital_urlfixes_clear_url_attributes>
                        <type>singleton</type>
                        <class>ReachDigital_UrlFixes_Model_Observer</class>
                        <method>clearProductUrlAttributes</method>
                    </reachdigital_urlfixes_clear_url_attributes>
                    <reachdigital_urlfixes_check_url_conflicts>
                        <type>singleton</type>
                        <class>ReachDigital_UrlFixes_Model_Observer</class>
                        <method>checkProductUrlConflicts</method>
                    </reachdigital_urlfixes_check_url_conflicts>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>
